nav{
    height:55px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    background-color:rgb(236, 131, 131);
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgb(228,228,228);
    z-index:100;
}